.admission {
  align-items: center;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  padding: 20px;
}

.admission .content {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  max-width: 80%;
  min-height: 44vh;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  padding: 20px;
  text-align: center;
}

.choices {
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90vw;
  margin-top: 38px;
}

.admission .btn {
  border: solid 1px #7f8c8d;
  border-radius: 5000px;
  color: #949494;
  cursor: pointer;
  font-family: ZonaProBold;
  font-size: 25px;
  line-height: 50px;
	margin: 2px 6px;
	min-width: 20px;
  min-height: 50px;
  padding: 0 15px;
  text-align: center;
}

.admission .btn-active {
  color: white;
  background-color: #3498db;
  border-color: #3498db;
}

.admission .btn-nav {
  margin-top: 5px;
}

.admission .btn-start {
  background-color: rgb(254, 66, 77);
	border: none;
	color: white;
	min-width: 100px;
}

.admission img {
  max-width: 100%;
  max-height: 100%;
}

.admission .navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 1%;
  justify-content: flex-end;
  position: relative;
  top: 0;
  right: 0;
}

.admission .navigation .btn.btn-nav {
  border-radius: 4px;
  color: white;
  background: #34495e;
  font-weight: normal;
  width: 10px;
  margin: 4px;
  text-align: center;
}

.pretest-header {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
}

.progress {
  font-family: ZonaProBold;
	font-size: 1.2em;
	min-width: 1%;
}

.question-content {
  width: calc(100% - 100px);
}

.warning {
  color: tomato;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test-header {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.time {
  color: red;
  font-size: 1em;
  font-family: ZonaProThin;
}

.timer {
	min-width: 1%;
}
