.admission {
  align-items: center;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  margin: 1% 0;

  padding: 2%;
}

.admission .content {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  flex: 5;
  justify-content: space-around;
  margin: 10px;
  max-width: 80%;
  min-height: 44vh;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  padding: 20px;
  text-align: center;
}

.choices {
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.admission .btn {
  border: solid 1px #7f8c8d;
  border-radius: 5000px;
  color: #949494;
  cursor: pointer;
  font-family: ZonaProBold;
  font-size: 25px;
  line-height: 54px;
  margin: 6px;
  min-width: 20px;
  min-height: 50px;
  padding: 0 15px;
  text-align: center;
}

.admission .btn-active {
  color: white;
  background-color: #3498db;
  border-color: #3498db;
}

.admission .btn-start {
  background-color: rgb(254, 66, 77);
  border: none;
  color: white;
  height: 55px;
  min-width: 100px;
}

.admission img {
  max-width: 100%;
  max-height: 100%;
}

.admission .navigation {
  align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  -ms-flex-direction: row;
  flex-direction: row;
}

.admission .navigation .btn.btn-nav {
  color: white;
  background: #34495e;
  font-weight: normal;
  width: 60px;
  height: 55px;
  text-align: center;
}

.pretest-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.progress {
  font-family: ZonaProBold;
  font-size: 1.2em;
  min-width: 1%;
}

.question-content {
  width: calc(100% - 100px);
}

.question-text {
  line-height: 30px;
  font-size: 20px;
}

.warning {
  color: tomato;
}

.test {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  width: 100%;
}
.test-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.test .test-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.test .test-footer .blank {
  width: 20%;
}

.time {
  color: red;
  font-size: 1em;
  font-family: ZonaProThin;
}

.timer {
  min-width: 1%;
}

@media screen and (max-width: 768px) {
  .admission .blank {
    display: none;
  }
  .admission .btn {
    font-size: 16px;
  }
  .admission .navigation {
    width: 100%;
    justify-content: space-evenly;
  }
  .admission .choices .btn {
    font-size: 12px;
    padding: 0 10px;
  }
  .admission .navigation .btn.btn-nav {
    font-size: 30px;
    width: 25%;
  }
  .admission .btn-start {
    font-size: 30px;
    width: 25%;
  }
  .test .test-footer {
    justify-content: center;
    flex-wrap: wrap;
  }
}
