.wheretobegin-container{
    display: flex;
    justify-content: space-around;
    height:90vh;
    height:auto;
    background-color: rgb(244, 243, 243);
}

.wheretobegin-text-container{
    width: 36%;
    margin :25px auto;
}

.wheretobegin-text-container h2{
    background-color:rgb(254, 66, 77);
    font-weight: bold;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 2.25em;
    margin: 15px;
  }

  .List-container{
    margin: 15px auto 25px;
  }

  .list-element{
      display : flex;
      align-items: center;
      font-size: 1.4em;
  }

  .list-element .number{
      font-size: 2.8em;
      font-weight: bold;
      color : rgb(254, 66, 77);
      margin: -7px 15px 15px;
      align-self: flex-start;
  }

 .wheretobegin-img-container{
        position: relative;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background-image: url('howtobegin.png');
        background-size: cover;
        background-position: center;
        width: 41%;
 }

 .gradiant{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.65);
  }

@media screen and (max-width: 980px) {
    .wheretobegin-container{
        flex-direction: column;
    }

    .wheretobegin-img-container{
        width : 100%;
        margin: auto;
        height: 550px;
        margin-top: 27px;
    }

    .wheretobegin-text-container{
        width: 80%;
        margin : auto;
        text-align: left;
        text-align: justify;
    }

  }
