@font-face {
  font-family: ZonaProBold;
  src: url('../assets/fonts/ZonaPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: ZonaProThin;
  src: url('../assets/fonts/ZonaPro-Thin.otf') format('opentype');
}

body {
	margin: 0;
	padding: 0;
	background-image: url('../assets/images/BG.png');
	background-size: cover;
	font-family: ZonaProThin;
	
}

.App {
  display: flex;
	justify-content: flex-end;
	flex-direction: column;
	min-height: 100vh;
}
