.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  font-size: 18px;
  flex: 1 1;
  margin: 2% 10%;
}

.Login .login-container {
	display: flex;
	flex-direction: column;
	min-width: 30%;
	background-color: rgba(224, 224, 225, 0.4);
	height: 50%
}

.Login .login-form {
	padding:25px 50px;
	display: flex;
	flex-direction: column;
}

.Login .header {
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
	font-family: ZonaProBold;
}

.Login input {
  border: none;
	background-color: rgb(225, 225, 225);
  border: none;
  min-height: 40px;
	margin: 2% 0;
	text-align: center;
}

.Login .btn {
	border: none;
  background-color: rgb(254, 66, 77);
  color: white;
  cursor: pointer;
  font-family: ZonaProBold;
	font-size: 20px;
	margin-top: 5%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

 
.Login a,
.Login a:visited,
.Login a:active,
.Login a:hover {
	color: white;
	text-decoration: none;
}

.Login .text-small {
	font-size: 10px;
	color: grey;
	text-align: center; 
}
